body{
  background-color: #EAF6F6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: :80%;
  width: 30%;
}

h3{
color:red;
}

h1{
  color:blue; 
}
